[Unit]
Description=Sentinel CLI VPN Service
After=multi-user.target
[Service]
Environment=HOME=${HOME}
Type=idle
ExecStart=/usr/local/bin/sentinelcli-dvpn-desktop start --home /tmp --listen 127.0.0.1:12000 --tty --with-service
[Install]
WantedBy=multi-user.target
