.slr-hoverable {
  position: relative;
  cursor: pointer;

  &:hover {

    &::before {
      opacity: .05;
    }
  }

  &:active {

    &::before {
      opacity: .1;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity .2s;
    border-radius: inherit;
    background-color: currentColor;
  }
}
