.slr-tabs {

  &__nav {
    display: flex;
    outline: solid 1px $slr__clr-blue-5;
    border-radius: 6px;
  }

  &__nav-item {
    flex: 1;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    @include font-template(14px, 17px, 500);

    &--active {
      background-color: $slr__clr-light-blue-2;
      color: $slr__clr-white;
    }
  }
}
