@import '~flagpack/dist/flagpack.css';

.node-preview {
  display: flex;
  align-items: center;

  &__flag {
    margin-right: 14px;
    border-radius: 4px;
    width: 50px;
    height: 40px;
  }

  &__title {
    @include font-template(16px, 19px, 500);
  }

  &__subtitle {
    margin-top: 6px;
    color: $slr__clr-grey-dark;
    @include font-template(10px, 15px);
  }
}
