.slr-button {
  padding: 14px 36px;
  background-color: $clr-blue;
  color: $clr-white;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.118421px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
