@font-face {
  font-family: Inter;
  font-weight: 400;
  src: url("/assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}

@font-face {
  font-family: Inter;
  font-weight: 500;
  src: url("/assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}

@font-face {
  font-family: Inter;
  font-weight: 600;
  src: url("/assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}

@font-face {
  font-family: Inter;
  font-weight: 700;
  src: url("/assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}
