.u-pointer {
  cursor: pointer;
}

.text-green {
  color: $slr__clr-green-light-1;
}

.text-red {
  color: $slr__clr-red-light-1;
}

.text-center {
  text-align: center;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.h-100 {
  height: 100%;
}

.p-relative {
  position: relative;
}

.flex-1 {
  flex: 1;
}

.opacity-4 {
  opacity: .4;
}
