.slr-card {
  position: relative;
  border: 1px solid $slr__clr-blue-4;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  padding: 13px 16px;

  &__title {
    position: absolute;
    top: -8px;
    left: 15px;
    padding-right: 4px;
    padding-left: 4px;
    background-color: $slr__clr-dark-blue;
    color: #97A0B6;
    @include font-template(10px, 15px);
  }
}