.plan {
  display: flex;
  margin-bottom: 10px;

  &__feature {
    flex: none;
    display: none; // flex
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
    margin-top: 10px;
    margin-bottom: 10px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    box-sizing: border-box;
    width: 12px;
    padding: 2px;
    text-transform: capitalize;
    writing-mode: vertical-lr;
    @extend .r-s7-lh8;

    &--popular {
      background-color: $slr__clr-purple
    }

    &--new {
      background-color: $slr__clr-red-light-2
    }
  }

  &__description {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 6px;
    padding: 14px 15px;
    background-image: linear-gradient(210.55deg, #0C1F39 -49.23%, #07182F 111.47%);
  }

  &__tariff,
  &__price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 4px;
  }

  &__type,
  &__denom {
    opacity: 0.4;
    text-transform: capitalize;
    @extend .m-s9-lh11;
  }

  &__size,
  &__amount-coin {
    font-weight: bold;
    text-transform: uppercase;
  }

  &__amount-gb {
    margin-right: 2px;
    @extend .b-s18-lh22
  }

  &__amount-coin {
    @extend .b-s13-lh20;
  }

  &__button-buy.slr-button {
    padding: 10px 20px;
  }
}
