.slr-loader {
  display: inline-block;
  width: 40px;
  height: 40px;

  &__lines {
    content: " ";
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: #fff transparent #fff transparent;
    animation: slr-loader 1.2s linear infinite;
  }
}

@keyframes slr-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
