<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.sentinel.SentinelcliVpn</string>
        <key>ProgramArguments</key>
        <array>
            <string>/usr/local/bin/sentinelcli</string>
            <string>start</string>
            <string>--home</string>
            <string>/tmp</string>
            <string>--listen</string>
            <string>127.0.0.1:12000</string>
            <string>--tty</string>
            <string>--with-service</string>
        </array>
        <key>KeepAlive</key>
        <true/>
        <key>StandardOutPath</key>
        <string>/Users/admin/Library/Logs/sentinel-dvpn-desktop/daemon-service-out.log</string>
        <key>StandardErrorPath</key>
        <string>/Users/admin/Library/Logs/sentinel-dvpn-desktop/daemon-service-error.log</string>
        <key>Debug</key>
        <true/>
    </dict>
</plist>
