.onboarding {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px;

  &__main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  &__article {
    flex: 0 1 30%;
  }

  &__title {
    margin-bottom: 20px;
    @include font-template(24px, 29px, 700);
  }

  &__description {
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.5)
  }

  :deep(.slr-button) {
    padding: 11px 13px 12px 13px;
  }

  &__buttons {
    align-self: flex-end;
  }

  &__slide-pointer {
    display: inline-flex;
    margin-right: 10px;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background-color: $slr__clr-dark-blue-3;

    &--active {
      background-color: $slr__clr-light-blue;
    }
  }
}
