.quota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 8px solid $slr__clr-dark-blue-3;
  border-radius: 50%;
  width: 170px;
  height: 170px;

  &--bright {
    box-shadow: 20px 20px 100px 0 rgba(55, 115, 255, 0.13);
    border-color: $slr__clr-light-blue-1;
  }

  &__amount {
    @include font-template(30px, 44px, 400);
  }

  &__unit {
    text-transform: uppercase;
    @include font-template(16px, 24px, 400);
  }
}
