.quota {
  box-sizing: border-box;
  width: 160px;
  height: 70px;
  padding: 10px;

  &__count {
    margin-bottom: 5px;
    @extend .b-s18-lh22
  }

  &__units {
    margin-left: 5px;
    color: $slr__clr-blue-1;
    @extend .s-s9-lh11
  }

  &__description {
    margin-bottom: 10px;
    @extend .m-s9-lh11
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
