.slr-drawer {
  position: fixed;
  z-index: 9000;
  top: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 30%;
  min-width: 400px;
  padding: 20px 16px 20px 16px;
  background-color: $slr__clr-dark-blue;

  &__header {
    padding: 10px 0;
  }
}
