.connection-screen {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #1a283b;
  min-width: 450px;
  padding-top: 30px;

  &__logo-wrapper {
    align-self: start;
    margin-bottom: 45px;
    padding: 0 30px;
  }

  &__content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin-right: -1px;
    border-right: 1px solid #1a283b;
  }

  &__quota-message {
    text-align: center;
    text-transform: uppercase;
    color: $slr__clr-grey-dark-1;
  }

  &__node {
    margin-bottom: 40px;
    padding: 0 30px;
  }

  &__quota-wrapper {
    margin-bottom: 50px;
  }

  &__toggle-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    padding: 50px 30px 0;
  }
}
