.connection-toggle {
  cursor: pointer;

  &__layout {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    border-radius: 60px;
    box-sizing: border-box;
    width: 86px;
    height: 137px;
    padding: 26px 0;
    background-color: $slr__clr-dark-blue-4;
  }

  &__control {
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 7px;
    border-radius: 50px;
    box-sizing: border-box;
    width: 76px;
    height: 76px;
    background-color: $slr__clr-light-blue-1;
    background-image: url("/assets/icons/power.svg");
    background-position: center center;
    background-repeat: no-repeat;

    &--on {
      top: 0;
    }
  }

  &__disconnect-label {
    text-align: center;
    color: $slr__clr-grey-dark-1;
    @include font-template(12px, 18px);

    &--hidden {
      visibility: hidden;
    }
  }
}
