$slr__clr-dark-blue: #021024;
$slr__clr-dark-blue-1: #05152C;
$slr__clr-dark-blue-2: #071A36;

$slr__clr-blue: #284A7B;
$slr__clr-blue-1: #465e82;
$slr__clr-blue-2: #283F61;

$slr__clr-light-blue: #169FEC;

$slr__clr-white: #ffffff;

$slr__clr-green: #4CD964;
$slr__clr-green-light-1: #81db64;

$slr__clr-red: #e73535;
$slr__clr-red-light-1: #e44f36;
