$slr__clr-dark-blue: #001025;
$slr__clr-dark-blue-1: #05152C;
$slr__clr-dark-blue-2: #071A36;
$slr__clr-dark-blue-3: #102749;
$slr__clr-dark-blue-4: #11223e;
$slr__clr-dark-blue-5: #0e1a32;

$slr__clr-blue: #284A7B;
$slr__clr-blue-1: #465e82;
$slr__clr-blue-2: #283F61;
$slr__clr-blue-3: #0d2e5e;
$slr__clr-blue-4: #1c3153;
$slr__clr-blue-5: #086b9b;

$slr__clr-light-blue: #169FEC;
$slr__clr-light-blue-1: #00b6fa;
$slr__clr-light-blue-2: #22c3ff;

$slr__clr-white: #ffffff;
$slr__clr-white-1: #f9f9f9;

$slr__clr-green: #4CD964;
$slr__clr-green-light-1: #81db64;

$slr__clr-red: #e73535;
$slr__clr-red-light-1: #e44f36;
$slr__clr-red-light-2: #fe3c5f;

$slr__clr-purple: #7f60ff;

$slr__clr-black: #000000;

$slr__clr-grey: #d3d3d3;

$slr__clr-grey-dark: rgba(192, 201, 234, 0.5);
$slr__clr-grey-dark-1: #636C87;
