.balance-checkout {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__padding-wrapper {
    box-sizing: border-box;
    width: 100%;
    padding: 0 30px;
  }

  &__parameters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
  }

  &__qr-wrapper {
    border-radius: 15px;
  }

  &__message {
    opacity: 0.4;
    margin-bottom: 10px;
    text-align: center;
    @include font-template(12px, 14px, 500);
  }
}
