.login {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;

  &__logo-wrapper {
    margin-top: auto;
    text-align: center;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    width: 100%;
  }
}
